<header class="header">
  <h1 class="pointer" routerLink="/">RetroBoard</h1>
  <div class="header-buttons">
    <button (click)="newTaskBox = !newTaskBox" class="plus-button">
      &#10010; task
    </button>
    <button (click)="newColumnBox = !newColumnBox" class="plus-button">
      &#10010; column
    </button>
    <button *ngIf="loadingEnd" (click)="exportexcel()" class="plus-button">
      Download board
    </button>

    <img
      (click)="catIcon = !catIcon"
      class="cat-icon pointer"
      src="../../assets/catIcon.png"
      alt=""
    />
    <div *ngIf="catIcon" class="log-out">
      <p>
        {{ userName }}
        <span class="pointer" (click)="catIcon = !catIcon">&#10006;</span>
      </p>
      <p class="log" (click)="logOut()">LogOut</p>
    </div>
  </div>
</header>

<app-alert></app-alert>

<div class="alert alert-danger" *ngIf="auth.error$ | async as error">
  {{ error }}
</div>

<form
  *ngIf="newTaskBox"
  class="add-task-form"
  [formGroup]="form"
  (ngSubmit)="addTask()"
>
  <div>
    <input
      class="plus-input"
      type="text"
      formControlName="text"
      placeholder="Enter task"
    />
    <div
      class="validation"
      *ngIf="form.get('text')!.touched && form.get('text')!.invalid"
    >
      <small *ngIf="form.get('text')!.errors!['required']"> Enter task </small>
      <small *ngIf="form.get('text')!.errors!['minlength']">
        Task is too short. It must be at least
        {{ form.get("text")!.errors!["minlength"]!["requiredLength"] }}, now
        {{ form.get("text")!.errors!["minlength"]!["actualLength"] }}
      </small>
    </div>
  </div>

  <p>Column</p>
  <select class="plus-select" value="" formControlName="column">
    <option *ngFor="let task of tasks" value="{{ task._id }}">
      {{ task.name }}
    </option>
  </select>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Add
  </button>
</form>

<form
  *ngIf="newColumnBox"
  class="add-task-form"
  [formGroup]="formColumn"
  (ngSubmit)="addColumn()"
>
  <div>
    <input
      class="plus-input"
      type="text"
      formControlName="columnName"
      placeholder="Enter column name"
    />
    <div
      class="validation"
      *ngIf="
        formColumn.get('columnName')!.touched &&
        formColumn.get('columnName')!.invalid
      "
    >
      <small *ngIf="formColumn.get('columnName')!.errors!['required']">
        Enter column name
      </small>
      <small *ngIf="formColumn.get('columnName')!.errors!['minlength']">
        Column name is too short. It must be at least
        {{
          formColumn.get("columnName")!.errors!["minlength"]!["requiredLength"]
        }}, now
        {{
          formColumn.get("columnName")!.errors!["minlength"]!["actualLength"]
        }}
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="formColumn.invalid">
    Add
  </button>
</form>

<ng-template #load>
  <app-preloader></app-preloader>
</ng-template>

<div class="none">
  <table id="excel-table">
    <tbody>
      <tr>
        <th>Block #</th>
        <th>Block name</th>
        <th>Tasks...</th>
      </tr>
      <tr *ngFor="let task of tasks; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{ task.name }}</td>
        <td *ngFor="let item of task.tasks">{{ item.text }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="loadingEnd; else load" class="board-container">
  <div
    class="board"
    cdkDropList
    (cdkDropListDropped)="dropColumn($event)"
    [cdkDropListData]="tasks"
    cdkDropListOrientation="horizontal"
    cdkDropListGroup
  >
    <div class="example-container" *ngFor="let task of tasks" cdkDrag>
      <div class="column-name-del">
        <button (click)="deleteColumn(task._id || '')">&#10006;</button>
        <h2 class="center">{{ task.name }}</h2>
        <div class="example-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </div>

      <div
        cdkDropList
        [cdkDropListData]="task.tasks"
        class="example-list"
        (cdkDropListDropped)="drop($event, task.name)"
        id="{{ task._id }}"
      >
        <div class="example-box" *ngFor="let item of task.tasks" cdkDrag>
          <div class="task-name-del">
            <p>{{ item.text }}</p>
            <button (click)="deleteTask(task._id || '', item._id || '')">
              &#10006;
            </button>
          </div>

          <p>Author: {{ item.author }}</p>

          <div>
            <p>
              {{ item.likes?.length }}
              <span
                (click)="addLike(task._id || '', item._id || '')"
                class="heart"
                [ngClass]="heartType(item)"
                >&#10084;</span
              >
              <span (click)="showComm(item._id || '')" class="pointer">
                {{ item.comments?.length }}

                <app-svg-heart></app-svg-heart>
              </span>
            </p>
          </div>
          <div
            [ngClass]="
              selectedStyles.includes(item._id || ' ') ? 'block' : 'none'
            "
          >
            <div class="comment" *ngFor="let com of item.comments">
              <b>{{ com.author }}</b>
              <p>{{ com.text }}</p>
            </div>
            <form
              (submit)="addComm(task._id || '', item._id || '', comment.value)"
              class="form-comm"
            >
              <input
                class="input-comm"
                type="text"
                id="comment"
                #comment
              /><button class="pointer" type="submit">&#10010;</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
