<header class="header">
    <h1>RetroBoard</h1>
    <div class="header-buttons">
        <button type="submit" class="btn-header" (click)="submit('kek')">
            Create kek
          </button>
          <button type="submit" class="btn-header" (click)="submit('mau')">
            Create mau
          </button>
    </div>
</header>


<div cdkDropListGroup class="board">
  <div class="example-container" *ngFor="let task of tasks">
    <h2>{{ task.name }}</h2>

    <div
      cdkDropList
      [cdkDropListData]="task.tasks"
      class="example-list"
      (cdkDropListDropped)="drop($event, task.name)"
      id={{task._id}}
    >
      <div class="example-box" *ngFor="let item of task.tasks" cdkDrag>
        {{ item.text }}
      </div>
    </div>
  </div>
</div>


