<header class="header">
  <h1>RetroBoard</h1>
  <div class="header-buttons">
    <button (click)="newTaskBox = !newTaskBox" class="plus-button">
      &#10010; task
    </button>
    <button (click)="newColumnBox = !newColumnBox" class="plus-button">
      &#10010; column
    </button>

    <img
      (click)="catIcon = !catIcon"
      class="cat-icon pointer"
      src="../../assets/catIcon.png"
      alt=""
    />
    <div *ngIf="catIcon" class="log-out">
      <p>
        {{ userName }}
        <span class="pointer" (click)="catIcon = !catIcon">&#10006;</span>
      </p>
      <p class="log" (click)="logOut()">LogOut</p>
    </div>
  </div>
</header>

<app-alert></app-alert>

<div class="alert alert-danger" *ngIf="auth.error$ | async as error">
  {{ error }}
</div>

<form
  *ngIf="newTaskBox"
  class="add-task-form"
  [formGroup]="form"
  (ngSubmit)="addTask()"
>
  <div>
    <input
      class="plus-input"
      type="text"
      formControlName="text"
      placeholder="Enter task"
    />
    <div
      class="validation"
      *ngIf="form.get('text')!.touched && form.get('text')!.invalid"
    >
      <small *ngIf="form.get('text')!.errors!['required']"> Enter task </small>
      <small *ngIf="form.get('text')!.errors!['minlength']">
        Task is too short. It must be at least
        {{ form.get("text")!.errors!["minlength"]!["requiredLength"] }}, now
        {{ form.get("text")!.errors!["minlength"]!["actualLength"] }}
      </small>
    </div>
  </div>

  <p>Column</p>
  <select class="plus-select" value="" formControlName="column">
    <option *ngFor="let task of tasks" value="{{ task._id }}">
      {{ task.name }}
    </option>
  </select>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Add
  </button>
</form>

<form
  *ngIf="newColumnBox"
  class="add-task-form"
  [formGroup]="formColumn"
  (ngSubmit)="addColumn()"
>
  <div>
    <input
      class="plus-input"
      type="text"
      formControlName="columnName"
      placeholder="Enter column name"
    />
    <div
      class="validation"
      *ngIf="
        formColumn.get('columnName')!.touched &&
        formColumn.get('columnName')!.invalid
      "
    >
      <small *ngIf="formColumn.get('columnName')!.errors!['required']">
        Enter column name
      </small>
      <small *ngIf="formColumn.get('columnName')!.errors!['minlength']">
        Column name is too short. It must be at least
        {{
          formColumn.get("columnName")!.errors!["minlength"]!["requiredLength"]
        }}, now
        {{
          formColumn.get("columnName")!.errors!["minlength"]!["actualLength"]
        }}
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="formColumn.invalid">
    Add
  </button>
</form>

<div class="board-container">
  <div cdkDropListGroup class="board">
    <div class="example-container" *ngFor="let task of tasks">
      <h2 class="center">{{ task.name }}</h2>

      <div
        cdkDropList
        [cdkDropListData]="task.tasks"
        class="example-list"
        (cdkDropListDropped)="drop($event, task.name)"
        id="{{ task._id }}"
      >
        <div class="example-box" *ngFor="let item of task.tasks" cdkDrag>
          {{ item.text }} <br />
          <p>Auhor: {{ item.author }}</p>
          <div>
            <p>
              {{ item.likes?.length }}
              <span
                (click)="addLike(task._id || '', item._id || '')"
                class="heart"
                [ngClass]="heartType(item)"
                >&#10084;</span
              >
              <span (click)="showComm(item._id || '')" class="pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20px"
                  height="20px"
                  viewBox="0 0 1024 1024"
                  class="icon"
                  fill="blue"
                >
                  <path
                    d="M924.3 338.4a447.57 447.57 0 0 0-96.1-143.3 443.09 443.09 0 0 0-143-96.3A443.91 443.91 0 0 0 512 64h-2c-60.5.3-119 12.3-174.1 35.9a444.08 444.08 0 0 0-141.7 96.5 445 445 0 0 0-95 142.8A449.89 449.89 0 0 0 65 514.1c.3 69.4 16.9 138.3 47.9 199.9v152c0 25.4 20.6 46 45.9 46h151.8a447.72 447.72 0 0 0 199.5 48h2.1c59.8 0 117.7-11.6 172.3-34.3A443.2 443.2 0 0 0 827 830.5c41.2-40.9 73.6-88.7 96.3-142 23.5-55.2 35.5-113.9 35.8-174.5.2-60.9-11.6-120-34.8-175.6zM312.4 560c-26.4 0-47.9-21.5-47.9-48s21.5-48 47.9-48 47.9 21.5 47.9 48-21.4 48-47.9 48zm199.6 0c-26.4 0-47.9-21.5-47.9-48s21.5-48 47.9-48 47.9 21.5 47.9 48-21.5 48-47.9 48zm199.6 0c-26.4 0-47.9-21.5-47.9-48s21.5-48 47.9-48 47.9 21.5 47.9 48-21.5 48-47.9 48z"
                  />
                </svg>
              </span>
            </p>
          </div>
          <div
            [ngClass]="
              selectedStyles.includes(item._id || ' ') ? 'block' : 'none'
            "
          >
            <div class="comment" *ngFor="let com of item.comments">
              <b>{{ com.author }}</b>
              <p>{{ com.text }}</p>
            </div>
            <form
              (submit)="addComm(task._id || '', item._id || '', comment.value)"
              class="form-comm"
            >
              <input
                class="input-comm"
                type="text"
                id="comment"
                #comment
              /><button type="submit">+</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
