.header {
  display: flex;
  justify-content: space-between;
  background: #2b4ae2;
  color: azure;
  padding: 10px;
}

.header-buttons {
  display: flex;
  align-items: center;

}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    justify-content: center;

    h1 {
      text-align: center;
    }

    .header-buttons {
      justify-content: center
    }
  }
}



.btn-header {
  padding: 10px 20px;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  margin: 10px;
  cursor: pointer;
  height: 75px;

}

.board-container {
  width: 100%;
}

.board {
  padding: 50px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.example-container {
  width: 400px;
  max-width: 100%;
  min-width: 300px;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #fff;
  color: rgb(255 255 255 / 87%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: move;
  background: #2c195670;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.plus-input {
  width: 500px;
  display: inline;
}

.plus-select {
  width: 200px;
  display: inline;
}

.plus-button {

  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  color: rgb(175, 230, 175);
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
}

.add-task-form {
  margin: 50px 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  gap: 10px;
}

.black {
  color: black
}

.red {
  color: red
}

.heart {
  font-size: 20px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.cat-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.log-out {
  background: black;
  padding: 10px;
  position: absolute;
  margin: 10px;
  padding: 15px;
  right: 0;
  top: 30px;
  text-align: right;
}

.log {
  color: red;
  cursor: pointer;
}

.comment {
  border: 1px dashed black;
  padding: 5px;
  margin-bottom: 5px;
}

.none {
  display: none;
}

.block {
  display: block;
}



.form-comm {
  display: flex;
  flex-direction: row;

  button {
    width: 10%;
    background: none;
    border: none;
    color: azure
  }

  .input-comm {
    width: 90%;
  }
}
