<header class="header">
  <h1>RetroBoard</h1>
  <div class="header-buttons">
    <button (click)="newTaskBox = !newTaskBox" class="plus-button">
      &#10010; task
    </button>
    <button (click)="newColumnBox = !newColumnBox" class="plus-button">
      &#10010; column
    </button>
  </div>
</header>

<app-alert></app-alert>

<div class="alert alert-danger" *ngIf="auth.error$ | async as error">
  {{ error }}
</div>

<form
  *ngIf="newTaskBox"
  class="add-task-form"
  [formGroup]="form"
  (ngSubmit)="addTask()"
>
  <div>
    <input
      class="plus-input"
      type="text"
      formControlName="text"
      placeholder="Enter task"
    />
    <div
      class="validation"
      *ngIf="form.get('text')!.touched && form.get('text')!.invalid"
    >
      <small *ngIf="form.get('text')!.errors!['required']"> Enter task </small>
      <small *ngIf="form.get('text')!.errors!['minlength']">
        Task is too short. It must be at least
        {{ form.get("text")!.errors!["minlength"]!["requiredLength"] }}, now
        {{ form.get("text")!.errors!["minlength"]!["actualLength"] }}
      </small>
    </div>
  </div>

  <p>Column</p>
  <select class="plus-select" value="" formControlName="column">
    <option *ngFor="let task of tasks" value="{{ task._id }}">
      {{ task.name }}
    </option>
  </select>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Add
  </button>
</form>

<form
  *ngIf="newColumnBox"
  class="add-task-form"
  [formGroup]="formColumn"
  (ngSubmit)="addColumn()"
>
  <div>
    <input
      class="plus-input"
      type="text"
      formControlName="columnName"
      placeholder="Enter column name"
    />
    <div
      class="validation"
      *ngIf="formColumn.get('columnName')!.touched && formColumn.get('columnName')!.invalid"
    >
      <small *ngIf="formColumn.get('columnName')!.errors!['required']"> Enter column name </small>
      <small *ngIf="formColumn.get('columnName')!.errors!['minlength']">
        Column name is too short. It must be at least
        {{ formColumn.get("columnName")!.errors!["minlength"]!["requiredLength"] }}, now
        {{ formColumn.get("columnName")!.errors!["minlength"]!["actualLength"] }}
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="formColumn.invalid">
    Add
  </button>
</form>


<div class="board-container">
  <div cdkDropListGroup class="board">
    <div class="example-container" *ngFor="let task of tasks">
      <h2 class="center">{{ task.name }}</h2>

      <div
        cdkDropList
        [cdkDropListData]="task.tasks"
        class="example-list"
        (cdkDropListDropped)="drop($event, task.name)"
        id="{{ task._id }}"
      >
        <div class="example-box" *ngFor="let item of task.tasks" cdkDrag>
          {{ item.text }} <br>
          <p>Auhor: {{ item.author }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
