@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --primary-color: #dc3545;
  --warning-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

html {
  min-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 20px auto;
  overflow: hidden;
  padding: 0 2rem;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

.centerCard {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin-top: 30px;
  background: #ffffff70;

  h2,
  .regLogButton {
    text-align: center;
  }

}

.margS {
  margin: 1rem;
}


.form-control {
  display: block;
  color: rgb(0, 0, 0);
  margin-bottom: .8rem;

  &.invalid {
    color: var(--primary-color);

    input {
      border-color: var(--primary-color);
    }
  }

  .validation {
    color: var(--primary-color);
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:disabled {
    cursor: not-allowed;
    background: var(--light-color);
    color: #111;
  }
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-warning {
  background: var(--warning-color);
  color: #fff;
}

.none {
  display: none;
}

.block {
  display: block;
}
